<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patent Search Optimization</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <h1>Patent Search</h1>
        <form>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description:</label>
            <textarea rows="6" id="description" name="description" required></textarea>

            <div class="flex"><button type="submit">Search</button></div>

        </form>
    </div>
    <!-- Results -->
    <div class="container">
        <h1>Relevant Patents</h1>

    </div>
</body>

</html>